// size
$font = 32px

// color
$primary = #007aff
$success = #5cb85c
$warning = #f0ad4e
$danger = #F33

$info = #5bc0de
$active = #FF632A

$black = #000
$dark = #333
$gray = #666
$grey = $gray
$light = #999
$bgColor = #f8f8f8
